DATABASE_URL="postgresql://padosipro:padosipro_password@localhost:5432/padosipro?schema=public"
PORT=5001
JWT_ACCESS_SECRET="hvK85A+vbxHDb4Zc2gluJAN/mFBDzujbjE+OVJ0GcHY="
JWT_REFRESH_SECRET="mmtKfBDYLTdCYqQNxfMT89hUNDk5QN93khNIsnbPbWQ="